@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

label {
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   margin-left: 5px;
}

body {
   background-color: #1f2228;
   padding: 0;
   margin: 0;
   width: 100%;
}

body div {
   margin-top: 20px;
   margin-left: 10px;
   display: block;
   width: 100%;
}

input, select {
   margin-left: 10px;
   margin-bottom: 2px;
}

#sketch-holder {
   border: 10px white;/*#B64D49;*/
}
